@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}

.logo-img {
    margin-left: 640px;
    margin-top: 100px;
}

/*Form*/
.tip-form {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 25px;
    padding: 1em 0;
    width: 100vh;
    height: 50vh;
    margin-left: 300px;
    margin-top: 60px
}

.tip-buttons {
    background-color: hsl(183, 100%, 15%);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    font-weight: 700;
    margin: 2px 0;
}

/*inputs*/
input[type="number"] {
    border: none;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button
 { 
  -webkit-appearance: none; 
  margin: 0; 
}

.custom-input {
    background-color: hsl(189, 41%, 97%);
    color: hsl(172, 67%, 45%);
    width: 90px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 10px;
}

.custom-input:focus {
    text-align: right;
}

.bill-input::placeholder,
.numOfPeople-input::placeholder,
.custom-input::placeholder {
    color: hsl(186, 15%, 59%);
}

.bill-input {
    background-image: url(/images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: calc(contain);
    background-position-y: center;
    background-position-x: 15px;
}

.numOfPeople-input {
    background-image: url(/images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: calc(contain);
    background-position-y: center;
    background-position-x: 15px;
}

.bill-input,
.numOfPeople-input {
    background-color: hsl(189, 41%, 97%);
    padding: 5px 40px;
    color: hsl(183, 100%, 15%);
    font-size: 16px;
    text-align: right;
}

.bill-input:focus,
.numOfPeople-input:focus,
.custom-input:focus {
    outline: none ;
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
}

.numOfPeople-input:invalid  {
    outline: none ;
    border: 2px solid red;
    border-radius: 5px;
}

.total-input::placeholder,
.amount-input::placeholder {
    color: hsl(172, 67%, 45%);
    font-size: 24px;
   
}

.total-input:focus,
.amount-input:focus {
    outline: none ;
    border: none;
}

.amount-input,
.total-input {
    background-color: hsl(183, 100%, 15%);
    color: hsl(172, 67%, 45%);
    font-size: 24px;
    width: 80px;
    text-align: right;
}

/*labels*/
.select {
    padding-top: 30px;
    padding-bottom: 10px;
}

.num {
    padding-top: 40px;
}

.label-title {
    display: block;
    color: hsl(186, 14%, 43%);
    font-size: 12px;
}

.error-message {
    display: none;
    color: red;
    font-size: 12px;
    position: absolute;
    left: 580px;
    top: 455px;
 }

/*Tip buttons*/
.five {
    padding: 5px 35px;
}

.ten {
    padding: 5px 30px;
}

.fifteen {
    padding: 5px 30px;
}

.twenty-five,
.fifty {
    padding: 5px 30px;
}

/*Buttons Hover state*/
.tip-buttons:hover,
.reset-button:hover {
    background-color: hsl(185, 60%, 73%);
    color: hsl(183, 100%, 15%);
}

/*Amount/Total per person Section*/
.perPerson-input {
    background-color: hsl(183, 100%, 15%);
    border-radius: 12px;
    width: 310px;
}

.amount-label,
.total-label {
    color:white;
    font-size: 12px;
}

.sub-label {
    color: hsl(186, 14%, 43%);
    font-size: 10px;
    margin-bottom: 10px;
}

.reset-button {
    background-color: hsl(180, 89%, 22%);
    border: none;
    border-radius: 5px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    padding: 10px 95px;
    margin-top: 80px;
    margin-left: 30px;
    text-transform: uppercase;
}

.input-col {
    margin-top: -40px;
    margin-left: 200px;
 }

 .amount-col,
 .total-col {
    margin-left: 35px;
    margin-top: 30px;
 }

/*Footer*/
.attribution { 
    color: hsl(183, 100%, 15%);
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(183, 100%, 15%);
    text-decoration: none; 
 }

.attribution a:hover {
    color: hsl(172, 67%, 45%);
 }

 /*Mobile-First*/
 @media only screen and (max-width: 768px) {

    .logo-img {
        margin-left: 195px;
        margin-top: 50px;
    }

    .tip-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50vh;
        height: 90vh;
        margin-left: 60px;
        margin-top: 60px
    }

    .tip-btns {
        display: grid;
        grid-template-columns: repeat(3, 90px);
        gap: 2px;
        margin-top: 50px;
    }

    .select {
       margin-top: -50px;
    }

    .label-title {
        padding-left: 40px;
    }

    .bill-input,
    .numOfPeople-input {
        margin-left: 40px;  
    }

    .error-message {
        left: 280px;
        top: 455px;
     }

     .perPerson-input {
       margin-left: 25px;
       padding-bottom: 20px;
    }

    .reset-button {
        padding: 10px 95px;
        margin-top: 10px;
        margin-left: 25px;
    }
  }





